[Unit]
 Description=Doorbell Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/doorbell/doorbell/doorbell.py -i /home/doorbell/doorbell/data/indoor.wav -o /home/doorbell/doorbell/data/outdoorsounds --indoorleftchannel 

 [Install]
 WantedBy=multi-user.target
